header {
  position: relative;
  height: 100px; 
  }

header img {
  position: absolute;
  top: 0;
  left: 0;
  height: 140%;
  margin-left: 100px;
  }
    
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #D00000, #000000);
  font-family:'Montserrat', sans-serif;
  margin-top: 40px;
  }
    
nav a {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
  }
    
  nav a:hover,
  nav a:focus {
  background-color: rgba(255, 255, 255, 0.2);
  color: #FFBA08;
  }
    
main {
  font-family: 'Montserrat', sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: justify;
  }
body {
  font-size: 1.2em;
  line-height: 1.5;
  color: #000000;
  }

h1 {
  font-size: 2.5em;
  color: #D00000;
  }
p {
  margin-bottom: 1.5em;
  } 

footer {
  background-color: #D00000;
  color: white;
  text-align: center;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  } 
  .footer-info {
  font-size: 0.8em;
  }
  .footer-info span {
  font-weight: bold;
  }
  #current-year {
  font-weight: bold;
  }

body.js-active {
  background-color: #D00000;
  color: white;
  }

.colors {
  width: 100%;
  margin: 0 auto;
  }
.colors th {
  background-color: #999;
  }
.colors td {
  width: 25%;
  height: 3em;
  padding: 10px;
  }
  .primary {
  background-color: #000000;
  color: white;
  }
    
  .secondary {
  background-color:#ffffff;
  color: rgb(0, 0, 0);
  border: solid #969696;
  border-width: 1px
  }
    
  .accent1 {
  background-color: #D00000;
  }
    
  .accent2 {
  background-color: #FFBA08;
  }
  .colored {
    background-color:#FFBA08;
    padding: 10px;
  }
   
    
  @media (max-width: 48em) {
  nav {
  display: block;
  }
    
  nav a {
  display: block;
  padding: 10px;
  }
  } 
    